<div class="grid-container">
        <% if signed_in? %>
        <div class="row">

        	<div class="col-1_3">
				<div class="panel">
					<div class="panel-title">
						<p>New Event</p>
					</div>
					<div class="panel-body">
						<%= render partial: "events/form" %>
					</div>

					<div class="panel-footer">
						
					</div>
				</div>
			</div>
        	
        	<div class="col-2_3">
				<div id="calendar">
				</div>
			</div>
		</div>

		<% else %>
			<div class="row">
				<div class="col-1-4">
					<div class="color-container">
						<div class="school-color"></div><span>-School</span>
					</div>
					<div class="color-container"> 
						<div class="work-color"></div><span>-Work</span>
					</div>
					<div class="color-container"> 
						<div class="project-color"></div><span>-Project</span>
					</div>
					<div class="color-container"> 
						<div class="sport-color"></div><span>-Sports</span>
					</div>
				</div>

				<div class="col-3-4">
					<div id="calendar">
					</div>
				</div>
			</div>

		<% end %>

</div>