<div class="container tabled">
	<div class="grid-container">
        <div class="row">

        	<div class="col-1_3">
			My Schedule
			</div>
        	
        	<div class="col-2_3">
				<div id="calendar">
				</div>
			</div>
		</div>
	</div>
</div>