
@font-face {
  font-family: "Flaticon";
  src: url("flaticon.eot");
  src: url("flaticon.eot#iefix") format("embedded-opentype"),
  url("flaticon.woff") format("woff"),
  url("flaticon.ttf") format("truetype"),
  url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add88:before {
  content: "\e000";
}
.flaticon-agenda8:before {
  content: "\e001";
}
.flaticon-ask3:before {
  content: "\e002";
}
.flaticon-atom29:before {
  content: "\e003";
}
.flaticon-blog1:before {
  content: "\e004";
}
.flaticon-blog4:before {
  content: "\e005";
}
.flaticon-book263:before {
  content: "\e006";
}
.flaticon-business133:before {
  content: "\e007";
}
.flaticon-business134:before {
  content: "\e008";
}
.flaticon-business29:before {
  content: "\e009";
}
.flaticon-businessman35:before {
  content: "\e00a";
}
.flaticon-businessman65:before {
  content: "\e00b";
}
.flaticon-calendar-icons:before {
  content: "\e00c";
}
.flaticon-calendar146:before {
  content: "\e00d";
}
.flaticon-calendar68:before {
  content: "\e00e";
}
.flaticon-college:before {
  content: "\e00f";
}
.flaticon-college1:before {
  content: "\e010";
}
.flaticon-envelope56:before {
  content: "\e011";
}
.flaticon-graduate38:before {
  content: "\e012";
}
.flaticon-graduates:before {
  content: "\e013";
}
.flaticon-male30:before {
  content: "\e014";
}
.flaticon-male80:before {
  content: "\e015";
}
.flaticon-man457:before {
  content: "\e016";
}
.flaticon-man494:before {
  content: "\e017";
}
.flaticon-maths5:before {
  content: "\e018";
}
.flaticon-note59:before {
  content: "\e019";
}
.flaticon-open-book1:before {
  content: "\e01a";
}
.flaticon-pen38:before {
  content: "\e01b";
}
.flaticon-personal33:before {
  content: "\e01c";
}
.flaticon-robot3:before {
  content: "\e01d";
}
.flaticon-schedule3:before {
  content: "\e01e";
}
.flaticon-school3:before {
  content: "\e01f";
}
.flaticon-talk16:before {
  content: "\e020";
}
.flaticon-time5:before {
  content: "\e021";
}
.flaticon-user62:before {
  content: "\e022";
}
.flaticon-user7:before {
  content: "\e023";
}
/* line 23, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.grid-container {
  width: 100%;
  max-width: 1200px;
}

/* line 31, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*background-color: red;*/
  margin: 1px;
  width: 100%;
}

/* line 37, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
[class*='col-'] {
  min-height: 1px;
  width: 16.66%;
  /*background-color: green;*/
  margin: 1px 5px;
}

/* line 44, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.col-1 {
  width: 100%;
}

/* line 47, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.col-2 {
  width: 50%;
}

/* line 51, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.col-3 {
  width: 33.33%;
}

/* line 55, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.center {
  -webkit-flex-justify-content: center;
  -moz-flex-justify-content: center;
  -ms-flex-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
}

/* line 60, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
.row h3 {
  margin: 16px 0px 0px;
  font-size: 85%;
  border-bottom: 1px solid #444;
}

@media all and (max-width: 650px) {
  /* line 68, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 71, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-1 {
    width: 100%;
  }

  /* line 72, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-2 {
    width: 100%;
  }

  /* line 73, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-3 {
    width: 100%;
  }

  /* line 74, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-4 {
    width: 100%;
  }

  /* line 75, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-5 {
    width: 100%;
  }

  /* line 76, /home/woody/woodson_delhia/app/assets/stylesheets/grid.css.scss */
  .col-6 {
    width: 100%;
  }
}
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #2a2a2a url('../img/bg.png') 0 0 repeat;
}
 */
/* line 15, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress_container {
  margin: 80px auto;
  width: 640px;
  text-align: center;
}
/* line 20, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress_container .progress {
  margin: 0 auto;
  width: 400px;
}

/* line 26, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

/* line 34, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress-bar {
  position: relative;
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
/* line 43, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 51, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
/* line 57, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
/* line 72, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

/* line 77, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

/* line 82, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.progress .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

/* line 87, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

/* line 92, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

/* line 97, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.radio {
  display: none;
}

/* line 99, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}
/* line 108, /home/woody/woodson_delhia/app/assets/stylesheets/progress_bar.css.scss */
.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
/* line 3, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
#chart {
  margin: 5px;
}

/* line 24, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
#chart img {
  background-color: #5C97BF;
  max-width: 100%;
  max-height: 100%;
}

/* line 29, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
h1 {
  margin-bottom: 1%;
}

/* line 36, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
.pic-wrapper img {
  height: 300px;
  border: 2px dashed #22313F;
}

/* line 41, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
hr {
  margin: 10px 0;
}

/* line 45, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
.panel {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 3px;
  border: 1px solid #e5e6e9;
  height: 70%;
  width: 30%;
  background-color: #FFFFFF;
}

/* line 60, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
.panel-title {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ecf0f9;
  font-size: 110%;
}

/* line 69, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
.panel-body {
  width: 100%;
  flex-grow: 3;
}

/* line 75, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
.panel-footer {
  height: 12%;
  width: 100%;
  align-self: flex-end;
}

/* line 81, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
ul {
  list-style: none;
}

/* line 85, /home/woody/woodson_delhia/app/assets/stylesheets/staticpages.css.scss */
ul li {
  margin: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *http://bootstrapzero.com/bootstrap-template/facebook
 *http://www.bootply.com/96266
 *http://fortawesome.github.io/Font-Awesome/icons/


 */
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,300italic,400italic,600italic);
/* line 51, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
a {
  color: #222;
}

/* line 66, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
h1 {
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

/* line 73, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
  margin: 0;
}

/***** SECTION / PAGES *****/
/* line 80, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
#page1 {
  background: #fff;
}

/* line 81, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
#page2 {
  background-color: #ECF0F1;
}

/* line 83, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.container {
  display: table;
  height: 100%;
  width: 98%;
  background-color: #ECF0F1;
}

/* line 89, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
section {
  display: table-cell;
  padding: 10px;
}

/* line 94, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*background-color: green;*/
  height: 100%;
}

/* line 101, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.tabled, .middled {
  text-align: center;
  margin: 0 auto;
}

/***** HEADER *****/
/* line 108, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
header {
  background: url("body-bg.png") #5ca48d;
  width: 98%;
  margin: 0 auto;
  padding: 5px;
  opacity: 0.8;
  word-spacing: -2px;
  border-bottom: 2px solid #22313F;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 700;
}

/* line 124, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
header span {
  font-size: 0.4em;
  font-weight: 400;
}

/* line 128, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.logo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-justify-content: space-between;
  -moz-flex-justify-content: space-between;
  -ms-flex-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
}

/* line 140, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.logo a {
  font-size: 1.7em;
}

/* line 144, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
.email {
  font-size: 0.8em;
}

/***** NAVIGATION *****/
/* line 150, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
#nav {
  padding-top: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-justify-content: center;
  -moz-flex-justify-content: center;
  -ms-flex-justify-content: center;
  justify-content: center;
  -webkit-flex-justify-content: space-between;
  -moz-flex-justify-content: space-between;
  -ms-flex-justify-content: space-between;
  justify-content: space-between;
}

/* line 158, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
#nav span {
  padding-left: 5px;
}

/***** MEDIA SCREEN *****/
@media screen and (max-width: 600px) {
  /* line 166, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
  .logo-wrapper {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  /* line 171, /home/woody/woodson_delhia/app/assets/stylesheets/application.scss */
  #nav {
    padding-top: 15px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
