<% content_for(:title, 'Woodson Delhia | About Me') %>
	<div class="container tabled">
  		<section id="page1">

   			<div class="pic-wrapper"> 
   				<h1>Welcome To My Page !</h1> 
				<%= image_tag('picme.png') %> 
			</div> 
			<hr> 
			<p>My name is Woodson Delhia, I am currently an employee at Air Canada, and also a second year student in Software Development. I have a great interest in developing software, specially if it can help the world. I also have a great passion in Japan, I did part of my last year of high school in Japan and plan to return to stay.</p> 

  		</section>
	</div>

	<div class="container tabled">
  		<section id="page2">
        <div class="grid-container">
          <div class="row">
            <div class="col-2">
              <h3>What my Software Development Degree focuses on </h3> 

              <ul> 
                <li>Programming languages and algorithms</li> 
                <li>Operating system platforms</li> 
                <li>Systems analysis and design methodologies </li> 
                <li>Internet development techniques</li> 
                <li>Information security</li> 
                <li>Database technology</li> 
              </ul> 
            </div>
            <div class="col-2">
              <h3>Languages obtained by the end of my degree</h3>
              <ul> 
                <li>C, C++, and C#</li> 
                <li>Java</li> 
                <li>JavaScript, xHTML, CSS, and XML</li> 
                <li>Perl, PHP</li> 
                <li>SQL</li> 
            </ul>   
            </div>
 
        </div>

        <div class="row center">
          <div class="col-1">
              <h3>Representation of all topics</h3>
              <div id="chart"> 
                <%= image_tag('areasofstudy1.png') %> 
              </div> 
          </div>

          <div class="row">
           <div class="col-1">
           <h3>Degree Progression</h3>
              <div class="progress-container">
                  
                  <div class="progress">
                    <div class="progress-bar">  50%</div>

                  </div>
              </div>
            </div>
          </div>
           </div>
        </div>


        </div>
  		</section>
	</div>