<% content_for(:title, 'Woodson Delhia | About Me') %>
<div class="content">
	<div class="welcome">
		<div class="pickholder">
			<%= image_tag('picme.png') %>
		</div>
		<h1>Welcome to my site!</h1>
		<p>My name is Woodson Delhia, I am currently an employee at Air Canada, and also a second year student in Software Development. I have a great interest in developing software, specially if it can help the world. I also have a great passion in Japan, did part of my last year of high school in Japan and plan to return and live there.</p>
	</div>
	<br>
	<br>
	<br>
	<h3>What I have learned</h3>
	
	<p>
		<ul>
			
			<li>Operating Systems for Programmers - UNIX</li>
			<li>Operating Systems for Programming - Windows</li>
			<li>Programming Fundamentals Using C </li>
			<li>Database Design Principles</li>
			<li>Internet Architecture and Development</li>
			<li>The Object-Oriented Paradigm Using C++</li>
			<li>SQL Database Design Using Oracle</li>
			<li>Web Programming on UNIX</li>
		</ul>
	</p>
</div>
