<% content_for(:title, 'Woodson Delhia | About Me') %>
	<div class="container tabled">
  		<section id="page1">
   			<div class="pic-wrapper"> 
				<%= image_tag('picme.png') %> 
			</div> 
			<h1>Welcome To My Page</h1> 
			<hr> 
			<p>My name is Woodson Delhia, I am currently an employee at Air Canada, and also a second year student in Software Development. I have a great interest in developing software, specially if it can help the world. I also have a great passion in Japan, I did part of my last year of high school in Japan and plan to return to stay.</p> 
  		</section>
	</div>

	<div class="container tabled">
  		<section id="page2">
   
  		</section>
	</div>